Nordea/packages/
Nordea/Nordea.Tests/bin/Debug/Newtonsoft.Json.xml
Nordea/Nordea.Tests/bin/
Nordea/Nordea.Tests/obj/
Nordea/Nordea/obj/
Nordea/Nordea/bin/
Nordea/Nordea/Nordea.Tests/obj/
Nordea/Nordea/Nordea/bin/
Nordea/Nordea/packages/
Nordea/Nordea/Nordea/obj/
Nordea/Nordea/Nordea.Tests/bin/
